{% extends 'base.html' %}
{% block content %}
<h1>Главная страница</h1>
<p>Добро пожаловать на сайт "Мир Книг". Данный сайт сделан на фреймворке DJANGO</p>
<h2>Данные из базы</h2>
<p>На текущий момент в базе следующие количество записей:</p>
<ul>
    <li>Количество книг: {{ num_books }}</li>
    <li> Количество экземпляров: {{ num_books_instance }}</li>
    <li>Количество авторов: {{ num_authors }}</li>
    <li>Количество доступных книг: {{ num_books_instance_available }}</li>
</ul>
{% endblock %}